* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.generic-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  color: white;
  border-radius: 2px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px transparent;
}

.generic-button:hover {
  cursor: pointer;
  border: solid 1px white;
}

.header {
  width: 100vw;
  background-color: dimgray;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__navigation__dropdown {
  position: absolute;
  top: 40px;
  border: solid 1px red;
}

.login-page {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  position: relative;
}

.login-page__message {
  position: absolute;
  bottom: 50px;
  border: solid 1px #949494;
  color: #3f3e3e;
  padding: 5px 15px;
  border-radius: 5px;
}

.login-page__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 20px 25px;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: solid gray 1px;
}

.login-page__form-container__icon {
  position: absolute;
  height: 35px;
  width: 35px;
  bottom: 5px;
  left: 5px;
}

.login-page__form-container__error {
  position: absolute;
  font-size: 0.9rem;
  color: red;
  top: -25px;
}

.login-page__form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page__form-container form input {
  margin-bottom: 5px;
}

.login-page__form-container form button {
  margin-top: 5px;
  padding: 5px;
  margin: 5px 35px;
}

.login-page__form-container form button:hover {
  cursor: pointer;
}

.login-page__form-container__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
  text-decoration: underline;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.login-page__form-container__toggle:hover {
  cursor: pointer;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list__item img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */